language: node_js
node_js:
  - "9"
dist: xenial
sudo: false
cache:
  directories:
    - ~/.npm
git:
  depth: 3
branches:
  only:
    - source
script:
  - yarn build
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github-token: $GITHUB_TOKEN
  local_dir: public
  target_branch: master
  on:
    branch: source
