{{ define "main" }}
<article class="max-w-5xl w-full mx-auto prose prose-slate mb-8 px-4{{with .Params.article_class}} {{.}}{{end}}">
  {{ with .Parent }}
  <p class="font-light my-0">
    <a href="{{ .RelPermalink }}" class="text-slate-600 hover:text-slate-800 inline-flex flex-row items-center gap-1">
      {{ partial "icons/chevron-left.svg" (dict "class" "h-4 w-4") }}
      Gists
    </a>
  </p>
  {{ end }}
  {{ if not .Params.hide_title }}
  <h1 class="font-serif">{{.Title}}</h1>
  {{ end }}
  {{ if not .Params.hide_date }}
  {{ with .PublishDate }}
  <p class="font-light"><time>{{ .Format "2006-01-02" }}</time></p>
  {{ end }}
  {{ end }}
  {{ if not .Params.hide_description }}
  {{ with .Description }}
  <p class="font-light">{{.}}</p>
  {{ end }}
  {{ end }}
  {{ if not .Params.hide_image }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    {{ if $image }}
      {{ $image = $image.Resize "600x Lanczos" }}
      {{ $alt := $image.Params.Alt }}
      {{ $caption := $image.Params.Caption }}
      {{ $params := dict
        "context" .
        "image" $image
        "alt" $alt
        "caption" $caption
        "image_class" "border border-solid border-slate-400 mx-auto"
        "figure" true
      }}
      {{ partial "image.html" $params }}
    {{ end }}
  {{ end }}
  {{.Content}}
</article>
{{ if .Params.comments }}
<div class="container mx-auto max-w-xl mt-24 px-4 md:px-0">
  {{ partial "giscus.html" }}
</div>
{{ end }}
{{ end }}
