@import './mixins'

html
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

body
  font-size: 16px
  @apply font-sans leading-normal

h1,
h2,
h3,
h4,
h5,
h6
  margin-bottom: 1rem
  @apply font-serif

// stylelint-disable indentation, rule-empty-line-before
h1
  line-height: 2.488rem
  @apply text-4xl-alt

  @include screen-above(md)
    line-height: 4.209rem
    @apply text-4xl

h2
  line-height: 2.074rem
  @apply text-3xl-alt

  @include screen-above(md)
    line-height: 3.157rem
    @apply text-3xl

h3
  line-height: 1.728rem
  @apply text-2xl-alt

  @include screen-above(md)
    line-height: 2.369rem
    @apply text-2xl

h4
  line-height: 1.44rem
  @apply text-xl-alt

  @include screen-above(md)
    line-height: 1.777rem
    @apply text-xl

h5
  line-height: 1.2rem
  @apply text-lg-alt

  @include screen-above(md)
    line-height: 1.333rem
    @apply text-lg
// stylelint-enable indentation, rule-empty-line-before

h6
  @apply text-base

p
  margin-bottom: 1rem

em
  font-style: italic

hr
  user-select: none
  text-align: center
  margin: 3rem auto
  @apply text-2xl text-gray-400 font-serif

.footnote-ref
  @apply tracking-widest

.footnotes
  @apply text-sm

  .footnotes-list
    .footnote-item
      margin-top: 0.25rem
      margin-bottom: 0.25rem

      p
        margin-bottom: 0.25rem
        @apply leading-4

main
  a
    &:hover
      text-decoration: underline

    @apply text-blue-600

article
  font-size: 18px
  @apply font-article font-light

  li
    margin-top: 1rem
    margin-bottom: 1rem

  table,
  :not(picture) > img,
  :not(figure) > .mediabox,
  figure,
  blockquote,
  iframe
    margin: 2rem auto

  blockquote
    @apply text-lg font-light

  table
    width: 100%

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  ol,
  ul
    padding-left: 2rem

  ol ol,
  ul ul,
  ol ul,
  ul ol
    padding-left: 1rem

  ul ul
    list-style-type: circle
