{{ $href := .Permalink }}
{{ if eq .Type "link" }}
  {{ $href = .Params.href }}
{{ end }}
{{ $absolute_url := eq $href (relURL $href) }}
{{ $image := .Resources.GetMatch .Params.card_image }}
{{ $hideCardImage := .Params.hide_card_image }}
{{ if and (not $image) (not $hideCardImage) }}
  {{ $image = index (.Resources.ByType "image") 0 }}
{{ end }}
{{ $backgroundGradients := slice
  "from-slate-950 to-amber-950"
  "from-indigo-950 to-rose-950"
  "from-sky-950 to-teal-950"
  "from-violet-950 to-fuchsia-950"
  "from-emerald-950 to-cyan-950"
  "from-orange-950 to-red-950"
  "from-blue-950 to-violet-950"
  "from-teal-950 to-lime-950"
  "from-rose-950 to-pink-950"
  "from-cyan-950 to-blue-950"
  "from-stone-950 to-orange-950"
  "from-purple-950 to-indigo-950"
}}
{{ $gradientDirections := slice
  "bg-gradient-to-br"
  "bg-gradient-to-bl"
  "bg-gradient-to-tr"
  "bg-gradient-to-tl"
  "bg-gradient-to-r"
  "bg-gradient-to-b"
}}
{{ $backgroundGradient := "from-slate-950 to-amber-950" }}
{{ $gradientDirection := "bg-gradient-to-br" }}
{{ if not $image }}
  {{ $gradientHash := hash.FNV32a .RelPermalink }}
  {{ $backgroundGradient = index $backgroundGradients (mod $gradientHash (len $backgroundGradients)) }}
  {{ $gradientDirection = index $gradientDirections (mod (div $gradientHash (len $backgroundGradients)) (len $gradientDirections)) }}
{{ end }}


<a
  href="{{ $href }}"
  {{ if $absolute_url }}
  target="_blank"
  rel="noopener noreferrer"
  {{ end }}
  class="h-60 w-full max-w-[422px] group transition-all duration-200 translate-y-0 hover:-translate-y-[2px] group block overflow-hidden relative shadow-md hover:shadow-xl rounded-md border-solid border border-gray-900 {{ $gradientDirection }} {{ $backgroundGradient }}"
>
  {{ if $image }}
    <div class="absolute inset-0 w-full h-full overflow-hidden flex items-center justify-center rounded-md -z-10 brightness-50">
    {{ $isGif := eq (path.Ext $image.RelPermalink) ".gif" }}
    {{ if not $isGif }}
      {{ $image = $image.Resize "x300 Lanczos" }}
    {{ end }}
    {{ $alt := $image.Params.Alt | default $image.Title }}
    {{ $caption := $image.Params.Caption }}
    {{ $params := dict
      "context" .
      "image" $image
      "alt" $alt
      "caption" $caption
      "image_class" "object-cover object-center w-full h-full transition-all duration-200 group-hover:scale-101 group-hover:blur-[2px]"
      "wrapper_class" "block w-full h-full"
      "figure" true
      "figure_class" "w-full h-full"
    }}
    {{ partial "image.html" $params }}
    </div>
  {{ end }}
  <div class="flex flex-col min-h-full p-8">
    <div class="flex-1">
      <h2 class="leading-tight font-serif text-xl mb-2 font-bold text-white">
        {{ .Title }}
      </h2>
    </div>
    {{ if .Description }}
    <p class="font-sans text-gray-100">{{ .Description }}</p>
    {{ end }}
    {{ if $absolute_url }}
    <div class="absolute top-0 right-0 m-3 text-gray-200">
      {{ partial "icons/external-link.svg" }}
    </div>
    {{ end }}
  </div>
</a>
