{{ $isRedirect := .Params.redirect_url }}
{{ if $isRedirect }}
<meta http-equiv="refresh" content="0; url={{ $isRedirect }}" />
{{ end }}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ block "title" . }}{{ .Params.meta_title | default (cond (eq .Title .Site.Title) .Title (printf "%s • %s" .Title .Site.Title)) }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{{/* Utility pages must not be indexed: redirect stubs and the 404. */}}
{{ if or $isRedirect (eq .Kind "404") }}
  <meta name="robots" content="noindex, follow">
{{ else }}
  <link rel="canonical" href="{{ .Permalink }}">
{{ end }}

<!-- Meta -->
{{ $description := .Params.description | plainify | chomp }}
{{ if not $description }}
  {{ $description = .Summary | plainify | htmlUnescape | strings.TrimSpace | truncate 160 }}
{{ end }}
{{ if not $description }}
  {{ $description = .Site.Params.description }}
{{ end }}

{{ $image := .Resources.GetMatch .Params.post_image }}
{{ if not $image }}
  {{ $image = .Resources.GetMatch .Params.card_image }}
{{ end }}
{{ if not $image }}
  {{ $image = index (.Resources.ByType "image") 0 }}
{{ end }}
{{ $imageAlt := "" }}
{{ if $image }}
  {{ $imageAlt = $image.Params.Alt | default $image.Title }}
  {{ if ne (path.Ext $image.RelPermalink) ".gif" }}
    {{ $image = $image.Resize "1200x Lanczos" }}
  {{ end }}
{{ end }}

{{ $isArticle := and (in .Site.Params.postTypes .Type) .Date }}
{{ $title := .Params.meta_title | default .Title }}

<meta name="description" content="{{ $description }}"/>
<meta property="og:title" content="{{ $title }}"/>
<meta property="og:description" content="{{ $description }}"/>
<meta property="og:type" content="{{ cond $isArticle "article" "website" }}"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:locale" content="{{ replace .Site.Language.Locale "-" "_" }}"/>
{{ if $isArticle }}
  <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}"/>
  {{ if not .Lastmod.IsZero }}
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"/>
  {{ end }}
{{ end }}
{{ if $image }}
  <meta property="og:image" content="{{ $image.Permalink | absURL }}"/>
  {{ with $imageAlt }}<meta property="og:image:alt" content="{{ . }}"/>{{ end }}
{{ end }}
<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}"/>
<meta name="twitter:title" content="{{ $title }}"/>
<meta name="twitter:description" content="{{ $description }}"/>
{{ if $image }}
  <meta name="twitter:image" content="{{ $image.Permalink | absURL }}"/>
  {{ with $imageAlt }}<meta name="twitter:image:alt" content="{{ . }}"/>{{ end }}
{{ end }}

<!-- Structured data -->
{{ $author := dict
  "@type" "Person"
  "name" .Site.Params.author.name
  "url" .Site.Home.Permalink
}}
{{ if .IsHome }}
  {{ $ld := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.Home.Permalink
    "description" $description
    "author" $author
  }}
  <script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{ else if $isArticle }}
  {{ $ld := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" $title
    "url" .Permalink
    "mainEntityOfPage" .Permalink
    "description" $description
    "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00")
    "author" $author
    "publisher" $author
  }}
  {{ if not .Lastmod.IsZero }}
    {{ $ld = merge $ld (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) }}
  {{ end }}
  {{ if $image }}
    {{ $ld = merge $ld (dict "image" ($image.Permalink | absURL)) }}
  {{ end }}
  <script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{ end }}

<!-- Stylesheets -->
{{ with (templates.Defer (dict "key" "global")) }}
  {{ with resources.Get "styles/main.css" }}
    {{ $opts := dict
      "minify" (not hugo.IsDevelopment)
      "inlineImports" true
    }}
    {{ with . | css.TailwindCSS $opts }}
      {{ if hugo.IsDevelopment }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
      {{ else }}
        {{ with . | fingerprint }}
          <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<!-- Favicon/icons -->
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" href="/favicon.png">

<!-- Feeds -->
{{ if .IsHome }}
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ end -}}
