{{ $ := .context }}
{{ $image := .image }}
{{ $alt := .alt }}
{{ $caption := .caption }}
{{ $image_class := .image_class }}
{{ $figure_class := .figure_class }}
{{ $figure := .figure | default false }}

{{ $isGif := eq (path.Ext $image.RelPermalink) ".gif" }}
{{ $placeholder := "" }}
{{ if not $isGif }}
  {{ $placeholder = ($image.Resize "48x q20") | images.Filter (images.GaussianBlur 6) }}
{{ end }}

{{ if $figure }}
<figure {{with $figure_class}}class="{{.}}"{{end}}>
{{ end }}

{{ if $isGif }}
  {{/* Create WebP still frame for progressive loading */}}
  {{ $webp_still := $image.Process "webp" }}
  
  {{/* Use original GIF size only - no resizing */}}
  {{ $gif_srcset := printf "%s %dw" $image.RelPermalink $image.Width }}
  {{ $webp_srcset := printf "%s %dw" $webp_still.RelPermalink $webp_still.Width }}

  {{ $html := printf `<picture>
    <source
      type="image/webp"
      srcset="%s"
      data-srcset="%s"
      sizes="(max-width: 500px) 100vw, (max-width: 800px) 90vw, (max-width: 1200px) 80vw, 1200px"
    />
    <img
      class="transition-all duration-300 opacity-100 gif-progressive%s"
      alt="%s"
      src="%s"
      srcset="%s"
      data-webp-src="%s"
      data-webp-srcset="%s"
      data-gif-src="%s"
      data-gif-srcset="%s"
      sizes="(max-width: 500px) 100vw, (max-width: 800px) 90vw, (max-width: 1200px) 80vw, 1200px"
      width="%d"
      height="%d"
      loading="lazy"
      decoding="async"
    />
  </picture>`
    $webp_still.RelPermalink
    $webp_srcset
    (cond $image_class (printf " %s" $image_class) "")
    $alt
    $image.RelPermalink
    $image.RelPermalink
    $webp_still.RelPermalink
    $webp_srcset
    $image.RelPermalink
    $gif_srcset
    $image.Width
    $image.Height }}
  {{ $html | safeHTML }}
{{ else }}
  {{ $webp_placeholder := $placeholder.Process "webp" }}
  {{ $original_webp := $image.Process "webp" }}

  {{ $srcset := "" }}
  {{ $webp_srcset := "" }}

  {{ range $index, $width := slice 500 800 1200 1500 }}
    {{ if ge $image.Width $width }}
      {{ $resized := $image.Resize (printf "%dx" $width) }}
      {{ $webp := $resized.Process "webp" }}

      {{ if ne $srcset "" }}
        {{ $srcset = printf "%s, %s %dw" $srcset $resized.RelPermalink $resized.Width }}
        {{ $webp_srcset = printf "%s, %s %dw" $webp_srcset $webp.RelPermalink $webp.Width }}
      {{ else }}
        {{ $srcset = printf "%s %dw" $resized.RelPermalink $resized.Width }}
        {{ $webp_srcset = printf "%s %dw" $webp.RelPermalink $webp.Width }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Add original size */}}
  {{ if ne $srcset "" }}
    {{ $srcset = printf "%s, %s %dw" $srcset $image.RelPermalink $image.Width }}
    {{ $webp_srcset = printf "%s, %s %dw" $webp_srcset $original_webp.RelPermalink $original_webp.Width }}
  {{ else }}
    {{ $srcset = printf "%s %dw" $image.RelPermalink $image.Width }}
    {{ $webp_srcset = printf "%s %dw" $original_webp.RelPermalink $original_webp.Width }}
  {{ end }}

  {{ $html := printf `<picture>
    <source
      type="image/webp"
      srcset="%s"
      data-srcset="%s"
      sizes="(max-width: 500px) 100vw, (max-width: 800px) 90vw, (max-width: 1200px) 80vw, 1200px"
    />
    <img
      class="transition-all duration-200 opacity-100%s"
      alt="%s"
      src="%s"
      data-src="%s"
      srcset="%s"
      data-srcset="%s"
      sizes="(max-width: 500px) 100vw, (max-width: 800px) 90vw, (max-width: 1200px) 80vw, 1200px"
      width="%d"
      height="%d"
      loading="lazy"
      decoding="async"
    />
  </picture>`
    $webp_placeholder.RelPermalink
    $webp_srcset
    (cond $image_class (printf " %s" $image_class) "")
    $alt
    $placeholder.RelPermalink
    $image.RelPermalink
    $placeholder.RelPermalink
    $srcset
    $image.Width
    $image.Height }}
  {{ $html | safeHTML }}
{{ end }}

  {{ if and $figure $caption }}
  <figcaption class="text-center">
    {{ $caption }}
  </figcaption>
  {{ end }}
{{ if $figure }}
</figure>
{{ end }}
