mixin blockquote(quotation)
  blockquote.text-lg.font-light(class!=attributes.class) #{quotation}

mixin quote(quotation, author, center)
  if quotation && author
    figure(class!=attributes.class, class=center && "text-center")
      +blockquote(quotation).mb-3
      figcaption(class=!center && "text-right")
        cite.font-light.text-sm #{author}
  else if quotation
    +blockquote(quotation)(class!=attributes.class)
