<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body
  class="min-h-screen flex flex-col text-slate-800 bg-orange-50"
>
  {{ if not .Params.redirect_url }}
    {{ if not .Params.hide_header }}
      {{ partial "header.html" . }}
    {{ end }}
    <main class="flex-1{{if .Params.hide_header}} pt-12{{end}}{{if .Params.hide_footer}} pb-12{{end}}{{with .Params.main_classes}} {{.}}{{end}}{{if .Params.center_article}} flex flex-col items-center justify-center{{end}}">
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ if not .Params.hide_footer }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
  {{ end }}
</body>
</html>
