extends ../includes/layouts/base

block prepend title
  - var title = "404"

block prepend description
  - var description = "Not found"

block main
  main#main.flex-1.flex.flex-col.justify-center.max-w-sm.w-full.mx-auto.my-6.items-center
    h1.text-xl.md_text-3xl ¯\_(ツ)_/¯
    h2.text-lg Page not found
    p Check out the #[a(href=site.routes.home) home page]
