block scripts
  if site.trackingId
    script(
      async,
      src=`https://www.googletagmanager.com/gtag/js?id=${site.trackingId}`
    )
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', site.trackingId);
